ClusterName=csp_cluster
ControlMachine={{ groups['slurm_controller'][0] }}
GresTypes=gpu
SlurmdPort=6818
SlurmctldPort=6817
SlurmUser=slurm
StateSaveLocation=/var/spool/slurm-llnl/state
SlurmdSpoolDir=/var/spool/slurmd
AuthType=auth/munge
ProctrackType=proctrack/linuxproc
ReturnToService=2
SchedulerType=sched/backfill

# Определение узлов
{% for node in groups['slurm_cpu_nodes'] %}
NodeName={{ node }} CPUs=256 Sockets=2 CoresPerSocket=64 ThreadsPerCore=2 RealMemory=2000000 State=UNKNOWN
{% endfor %}

# Узел с GPU
{% for gpu_node in groups['slurm_gpu_nodes'] %}
NodeName={{ gpu_node }} CPUs=256 Sockets=2 CoresPerSocket=64 ThreadsPerCore=2 RealMemory=2000000 Gres=gpu:a100:8 State=UNKNOWN
{% endfor %}

# Разделы
PartitionName=cpu_nodes Nodes={{ groups['slurm_cpu_nodes'] | join(',') }},{{ groups['slurm_gpu_nodes'][0] }} Default=YES MaxTime=INFINITE State=UP
PartitionName=gpu_nodes Nodes={{ groups['slurm_gpu_nodes'] | join(',') }} MaxTime=INFINITE State=UP