[defaults]
remote_user = kbajbekov
# Отключаем строгую проверку ключей хостов (для тестовых сред)
host_key_checking = False
# Указываем путь к нашему инвентарному файлу
inventory = inventory/inventory.yml
# Отключаем создание .retry-файлов при ошибках
retry_files_enabled = False
# Используем стандартную библиотеку интерпретатора Python
interpreter_python = auto_silent
# Указываем путь для пользовательских модулей (если они будут)
library = ./library/
roles_path = $(pwd)/roles:$VIRTUAL_ENV/usr/local/share/kubespray/roles:$VIRTUAL_ENV/usr/local/share/ansible/roles:$(pwd)kubespray/roles

[ssh_connection]
# Ускоряем SSH-соединения
pipelining = True