ClusterName=csp_cluster_0
ControlMachine={{ groups['slurm_controller'][0] }}
SlurmdPort=6818
SlurmctldPort=6817
SlurmUser=slurm
StateSaveLocation=/var/spool/slurm-llnl/state
SlurmdSpoolDir=/var/spool/slurmd
AuthType=auth/munge
ProctrackType=proctrack/linuxproc
ReturnToService=2
SchedulerType=sched/backfill

# Узел с GPU (узел с GPU в отдельной группе)
{% for gpu_node in groups['gpu_nodes'] %}
NodeName={{ gpu_node }} CPUs=256 RealMemory=2000000 Gres=gpu:8 State=UNKNOWN
{% endfor %}

# Определение узлов
{% for cpu_node in groups['cpu_nodes'] %}
NodeName={{ cpu_node }} CPUs=256 RealMemory=2000000 State=UNKNOWN
{% endfor %}

# Разделы (Partitions)
PartitionName=cpu_nodes Nodes={{ groups['cpu_nodes'] | join(',') }} Default=YES MaxTime=INFINITE State=UP
PartitionName=gpu_nodes Nodes={{ groups['gpu_nodes'] | join(',') }} MaxTime=INFINITE State=UP