ClusterName=my_cluster
ControlMachine={{ groups['slurm_controller'][0] }}
SlurmdPort=6818
SlurmctldPort=6817
SlurmUser=slurm
StateSaveLocation=/var/spool/slurm-llnl/state
SlurmdSpoolDir=/var/spool/slurmd
AuthType=auth/munge
ProctrackType=proctrack/linuxproc
ReturnToService=2
SchedulerType=sched/backfill

NodeName=controller_hostname CPUs=256 RealMemory=2000000 State=UNKNOWN
NodeName=node[1-4] CPUs=256 RealMemory=2000000 State=UNKNOWN
NodeName=gpu_node CPUs=256 RealMemory=2000000 Gres=gpu:8 State=UNKNOWN

PartitionName=cpu_nodes Nodes=node[1-4],controller_hostname Default=YES MaxTime=INFINITE State=UP
PartitionName=gpu_nodes Nodes=gpu_node MaxTime=INFINITE State=UP